body {
    font-family: 'Courier New', Courier, monospace;
    background-color: cadetblue;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: lightgreen;
    padding: 3px;
    box-shadow: 
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav > a:hover {
    animation: 1.3ms;
    background-color: brown;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 0px;
}

article {
    background-color: lightgray;
}

article > aside {
    background-color: rgba(173, 216, 230, 0.725);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 0px;
    padding: 3px;
}

div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
}